.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  background-image: url(../assets/marker.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 7rem;
}

.mapboxgl-popup-content {
  font-family: Montserra;
  font-weight: bolder;
  color: white;
  font-size: 1rem;
  border: 0.1rem solid;
  border-color: white;
  background-color: rgba(0, 130, 209, 1);
}

.mapboxgl-popup-close-button {
  font-size: 1rem;
  background-color: rgba(0, 130, 209, 1);
}
