* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-refuge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  min-height: 100svh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-refuge {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 55rem;
  height: 90svh;
  background-color: #ebffd4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
}

.card-refuge > h1 {
  color: #0082d1;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

.card-refuge img {
  width: 75%;
  border-radius: 3rem;
}

.texte-refuge {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  p {
    font-size: 1.3rem;
  }
}

.texte-refuge > a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.texte-refuge > a:hover {
  color: #0082d1;
  font-weight: bolder;
}

.texte-refuge .p-lien-refuge {
  font-size: 1rem;
}
.icones {
  display: flex;
  width: 10rem;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .card-refuge {
    width: 90svw;
    height: 80svh;
    text-align: center;
    justify-content: space-evenly;
  }

  .card-refuge > h1 {
    font-size: 1.8rem;
  }

  .card-refuge > img {
    width: 85%;
  }

  .texte-refuge > p {
    font-size: 0.95rem;
  }

  .icones > img {
    max-width: 1.8rem;
  }
}
